<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
    <body>
        <div layout:fragment="title">
            <h1>Title!</h1>
        </div>
        <div layout:fragment="content">
            <p class="lead">This is a simple project to demonstrate prototype of ractive-reports engine</p>
            <p><a href="/manage/index.html">Just go to Manage reports page!</a> </p>
<!-- TODO: show sample report by default-->

        </div>
        <footer>
            <p layout:fragment="custom-footer">This is some footer content from content page 1</p>
        </footer>
    </body>
</html>